.header{
    width: 100%;
    height: 100%;
    padding: 10px 0;
    &-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-navbar{
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &-navbar-items{
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: #046BDA;
        }
    }

    &-button{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &-signin-btn{
        padding: 10px 20px;
        background-color: #046BDA;
        color: #fff;
        border: 1px solid #046BDA;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: #fff;
            color: #046BDA;
        }
    }

    &-signup-btn{
        padding: 10px 20px;
        background-color: #046BDA;
        color: #fff;
        border: 1px solid #046BDA;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: #fff;
            color: #046BDA;
        }
    }

}