*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.wrapper{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}